%% -*- mode: erlang -*-
{deps,
    [
        {emqx, {git_subdir, "https://github.com/emqx/emqx.git", {tag, "v5.4.0"}, "apps/emqx"}}
        , {emqx_ctl, {git_subdir, "https://github.com/emqx/emqx.git", {tag, "v5.4.0"}, "apps/emqx_ctl"}}
        , {emqx_utils, {git_subdir, "https://github.com/emqx/emqx.git", {tag, "v5.4.0"}, "apps/emqx_utils"}}
        , {emqx_durable_storage, {git_subdir, "https://github.com/emqx/emqx.git", {tag, "v5.4.0"}, "apps/emqx_durable_storage"}}
        , {emqx_resource, {git_subdir, "https://github.com/emqx/emqx.git", {tag, "v5.4.0"}, "apps/emqx_resource"}}
        , {wolff, "1.9.1"}
    ]}.

{plugins, [
    {emqx_plugrel, {git, "https://github.com/caijinpeng1113/emqx_plugrel.git", {branch, "master"}}}
]}.

{erl_opts, []}.

{relx, [{release, {emqx_plugin_kafka, "1.0.0"},
    [
        emqx_plugin_kafka
        , wolff
        , kafka_protocol
        , replayq
        , telemetry
        , lc
        , crc32cer
    ]}
    , {dev_mode, false}
    , {include_erts, false}
]}.

{emqx_plugrel,
    [{authors, ["Jostar、Caijinpeng"]}
        , {builder,
        [{name, ""}
            , {contact, ""}
            , {website, ""}
        ]}
        , {repo, "https://github.com/caijinpeng1113/emqx_plugin_kafka"}
        , {functionality, ["Demo"]}
        , {compatibility,
        [{emqx, "~> v5.4.0"}
        ]}
        , {description, "Kafka plugin for EMQX >= V5.4.0"}
    ]
}.

{xref_checks, [undefined_function_calls, undefined_functions, locals_not_used,
    deprecated_function_calls, warnings_as_errors, deprecated_functions]}.
